@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes modalOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.55);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}